<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node + MySQL</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Cadastrar um novo livro</a></li>
            <li><a href="/books">Livros cadastrados</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>