<h1>Olá HandleBars</h1>

<p>Algum texto do site</p>

<p>O nome do usuário é {{user.name}} {{user.surname}}</p>

{{#if auth}}
    <p>
        Você está logado, clique <a href="dashboard">aqui</a> para ir para a dashboard	
    </p>
{{/if}}